<div class="container">

    <md-card>
        <md-card-title>Login</md-card-title>
        <form>
        <div class="form-group">      
            <md-input-container>
                <input mdInput type="text" class="form-control" id="name" placeholder="name" required>
            </md-input-container>
        </div>

        <div class="form-group">
            <md-input-container>
                <input mdInput type="password" class="form-control" id="password" placeholder="password" required>
            </md-input-container>
        </div>

        <button md-raised-button type="submit" class="btn btn-success">Submit</button>

        </form>
    </md-card>
</div>